/* Basic styles for leaflet-draw */
.leaflet-draw-section {
  position: relative;
}

.leaflet-draw-toolbar {
  margin-top: 12px;
}

.leaflet-draw-toolbar a {
  background-image: url('https://unpkg.com/leaflet-draw@1.0.4/dist/images/spritesheet.png');
  background-repeat: no-repeat;
  background-size: 270px 30px;
  background-clip: padding-box;
  display: block;
  width: 30px;
  height: 30px;
}

.leaflet-draw-toolbar a.leaflet-draw-draw-polygon {
  background-position: -31px -2px;
}

.leaflet-draw-toolbar a.leaflet-draw-edit-edit {
  background-position: -152px -2px;
}

.leaflet-draw-toolbar a.leaflet-draw-edit-remove {
  background-position: -182px -2px;
}

.leaflet-draw-tooltip {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #999;
  border-radius: 4px;
  color: #222;
  font: 12px/18px "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-top: -21px;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  z-index: 1000;
}

.leaflet-draw-actions {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 26px;
  top: 0;
  white-space: nowrap;
}

.leaflet-draw-actions li {
  display: inline-block;
}

.leaflet-draw-actions a {
  background-color: #919187;
  border-left: 1px solid #AAA;
  color: #FFF;
  font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 28px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 28px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-position: -31px -1px;
} 